.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.popup-content {
    text-align: center;
}



select {
    display: block  !important;
    width: 100%  !important;
    padding: 25px 0.75rem  !important;
    font-size: 1rem  !important;
    font-weight: 400  !important;
    line-height: 1.5  !important;
    color: #495057  !important;
    background-color: #fff  !important;
    background-clip: padding-box  !important;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
