{% load static %}

<section id="book-table" class="bg-white">
    <div class="container">
        <h3 class="section-title mb-4 text-center">Want to Order? Enter your phone number</h3>
        <div class="row justify-content-center align-items-center">
            <form class="col-12 col-md-6 mb-4" action="{% url 'orders:customer_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% if form_login_error %}
                        <h4 class="text-danger">Invalid phone number</h4>
                    {% endif %}
                    {{ login_form.phone.errors }}
                    {{ login_form.phone }}
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Create user</button>
            </form>
            <div class="col-12 col-md-6">
                <img src="{% static 'images/phone2.jpeg' %}" alt=" " class="w-100 rounded shadow">
            </div>

        </div>
    </div>
</section>
