{% load static %}

<section id="book-table" class="bg-white">
    <div class="container">
        <h3 class="section-title mb-4 text-center">Want to Order? Enter your phone number</h3>
        <div class="row justify-content-center align-items-center">
            <img class="container col-6 justify-content-center" src="{% static 'images/phone2.jpeg' %}" alt=" " class="w-100 rounded shadow">
            <form class="col-6">
                <div class="form-group">
                 <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Phone number">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Create user</button>
            </form>
        </div>
    </div>
</section>