<nav class="navbar sticky-top navbar-expand-lg  navbar-dark " style="background-color: rgb(7, 130, 130);">
    <div class="container px-3 py-3">
      <a class="navbar-brand" href="#!">Cafe Group One</a>
      <div class="navbar-collapse collapse" style="justify-content: center;">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#!">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active" href="#!">Orders</a>
        </li>
            <li class="nav-item active">
          <a class="nav-link" href="#!">About</a>
        </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>