{% extends 'base.html' %}
{% block content %}

<section id="service" class="pattern-style-4 has-overlay">
  <div class="container raise-2">
      <h6 class="section-subtitle text-center">Your Cart</h6>
      <h3 class="section-title mb-6 pb-3 text-center">Special Dishes</h3>

      {% for food, quantity in cart.items %}
        <div class="row">
          <div class="col-md-6 mb-4">
              <a href="javascrip:void(0)" class="custom-list">
                <div class="col">
                  <img alt="" src="{{ food.image.url }}" class="w-100 rounded shadow">
                </div>
                  <div class="info">
                      <div class="head clearfix">
                          <h5 class="title float-left"><a href="{% url 'foods:food_details' food.id %}">{{ food }}</a> </h5>
                          <p class="float-right text-primary">Quantity: {{ quantity }}</p>
                      </div>
                      <div class="body">
                        <form method="post" action="{% url 'orders:cart_delete' %}">
                          {% csrf_token %}
                          <button type="submit" name="food" value="{{ food.id }}">Delete</button>

                        </form>
                      </div>
                  </div>
              </a>
          </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
