{% extends 'base.html' %}
{% block content %}


<section id="about2">
    <h6 class="section-subtitle text-center">Menu</h6>
    <h3 class="section-title mb-6 pb-3 text-center">Categories</h3>
    {% for food,quantity in cart.items %}
    <div class="container">
        <div class="section-devider my-5 transparent"></div>
        <div class="row align-items-center">

            <div class="col-4">
                <a href="{% url 'foods:food_details' food.id %}">
                <img alt="" src="{{ food.image.url }}" class="w-100 rounded shadow">
                </a>
            </div>

            <div class="col-md-6">
                <!-- <h6 class="section-subtitle">{}}</h6> -->
                <h3 class="section-title"><a href="{% url 'foods:food_details' food.id %}">{{food.title}}</a></h3>
                <p>{{ food.description|truncatewords:50 }}</p>

                <div class="mb-4 h4 float-left text-primary">
                    Quantity: {{ quantity }}
                </div>

                <div class="body">
                    <form method="post" action="{% url 'orders:cart_delete' %}">
                      {% csrf_token %}
                      <button type="submit" name="food" value="{{ food.id }}" class="btn btn-primary btn-block">Delete</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
  </section>




{% endblock %}
