{% extends 'base.html' %}
{% load static %}
{% block title %} Orders {% endblock %}

{% load filters %}
{% block content %}

<section id="about2">
    <h2 class="section-title pb-3 text-center text-primary">Your Orders</h2>
    {% for order in orders %}
    <div class="container">
        <div class="section-devider my-6 transparent"></div>
        <h4 class="float-left title">Order {{forloop.counter}}</h4>
    </div>

    <br>
    <hr>
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-md-6">
                <h5 class="text-primary"><a href="{% url 'orders:order_details' forloop.counter %}">Order details</a></h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            {% for item in order.orderitem_set.all %}
              <div class="col-md-6 mb-4">
                  <div class="custom-list">
                      <div class="info">
                          <div class="head clearfix">
                              <div class="title float-left text-primary " style="font-size: 20px;">{{ item.food }}</div>
                              <div class="float-right" style="font-size: 20px;">price : {{ item.unit_price }}$</div>
                          </div>
                          <div class="body">
                            <div class="float-right" style="font-size: 18px;">quantity : {{ item.quantity }}</div>
                         </div>
                         <div class="body">
                            <div class="float-right"style="font-size: 18px;"> total : {{ item.unit_price|mul:item.quantity }}</div>
                        </div>
                      </div>
                    </div>
              </div>
            {% endfor %}
        </div>
        <div style="display: flex;flex-direction: column;">
            <div class=" float-left row h4">Status :     <div class="text-primary">&nbsp {{order.status}}</div></div>
            <br>
            <div class=" float-left row h4">Total Price :   <div class="text-primary ">&nbsp {{order.price}}</div></div>
            <br>
            <div class=" float-left row h4">Order submitted at : <div class="text-primary ">&nbsp {{order.created_at}}</div></div>
        </div>
    </div>
    {% empty %}
    <h3 class="pb-3 text-center text-secondary my-5">You haven't ordered yet</h3>
    <br><br><br><br><br>
    {% endfor %}
</section>
{% endblock %}