{% extends 'base.html' %}

{% block content %}
<section id="service" class="pattern-style-4 has-overlay">
    <div class="container raise-2">
        <h6 class="section-subtitle text-center">{{category.title}}</h6>
        <h3 class="section-title mb-6 pb-3 text-center">{{category.description}}</h3>
        <div class="row">
          {% for food in category.food_set.all %}

    <div class="flex-container" >
        {% for category in category_model_instance %}
        <div class="card">
            <img src="" alt="foods in Special Dishes">
          <h5 class="card-title"><a href="{% url 'food_details' category.id %}">{{food.title}}</a></h5>
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add to Cart</a>
          <!-- counter??? -->
        </div>
      {% endfor %}
    </div>
</section>