{% extends 'base.html' %}
{% load static %}

{% block content %}


<section id="service" class="pattern-style-4 has-overlay" style="background-image: url({% static 'images/style-4.png' %});">
  <div class="container raise-2">
      <h6 class="section-subtitle text-center">Foods in</h6>
      <h3 class="section-title mb-6 pb-3 text-center">{{category.title}}</h3>
      <div class="row">
        {% for food in category.food_set.all %}
          <div class="col-md-6 mb-4">
              <a href="{% url 'foods:food_details' food.id %}" class="custom-list">
                  <div class="img-holder">
                      <img src="{{ food.image.url }}" alt="">
                  </div>
                  <div class="info">
                      <div class="head clearfix">
                          <h5 class="title float-left">{{ food.title }}</h5>
                          <p class="float-right text-primary">${{ food.price }}</p>
                      </div>
                      <div class="body">
                          <p>{{ food.description }}</p>
                      </div>
                  </div>
              </a>
              <div style="display: flex;">
                <a href="#" class="btn btn-primary btn-sm active btn-block" role="button" aria-pressed="true" style="align-items: center;margin-right: 1rem;display: grid;">Add to Cart</a>
                <input type="number" name="" id="" class="form-control" style="width: 20%;" value="1" max="{{ food.available_quantity }}" min="1">
              </div>
          </div>
          </a>
        {% endfor %}
      </div>
  </div>
</section>


{% endblock %}
