{% extends 'base.html' %}
{% load static %}
{% block title %} {{ food.title }} {% endblock %}

{% block content %}


<section id="service" class="pattern-style-4 has-overlay" style="background-image: url({% static 'images/style-4.png' %});">

  <div class="container raise-2">
      <div class="row justify-content-center">
        <div class="img-holder text-center">
            {% if food.image %}
                <img src="{{ food.image.url }}" alt="" style="width: 75%;">
            {% else %}
                <img src="{% static 'images/defaults/food.jpeg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-md-8 mb-4">
            <div class="info">
                    <div class="head clearfix mt-5">
                        <h1 class="float-left">{{ food.title }}</h1>
                        <h1 class="float-right text-primary">${{ food.price }}</h1>
                    </div>

    <!-- <div id="popup" class="popup"> -->
        <!-- <div class="popup-content"> -->
            <!-- Item added to cart! -->
        <!-- </div> -->
    <!-- </div> -->

    <a href="{% url 'orders:cart' %}" class="cart-icon px-3 py-4">
        <img src="{% static 'images/cart.png' %}" alt="" height="35px" class="text-primary">
    </a>

</section>


{% endblock %}
