{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="service" class="pattern-style-4 has-overlay" style="background-image: url({% static 'images/style-4.png' %});">

  <div class="container raise-2">
      <div class="row">
        <div class="img-holder">
            <img src="{{ food.image.url }}" alt="" style="width: 75%;">
        </div>
        <div class="col-md-8 mb-4">
            <div class="info">
                    <div class="head clearfix mt-5">
                        <h1 class="float-left">{{ food.title }}</h1>
                        <h1 class="float-right text-primary">${{ food.price }}</h1>
                    </div>
            </div>
            <div class="body mt-4">
                <p>{{ food.description }}</p>
            </div>
        </div>
      </div>
  </div>
</section>


{% endblock %}
