{% extends 'base.html' %}
{% load static %}
{% block title %} Menu {% endblock %}

{% block content %}

<section id="about2" style="background-image: url({% static 'images/style-4.png' %});">
    <h3 class="section-title pb-3 text-center">Menu</h3>
    {% for category in categories %}
    <div class="container">
        <div class="section-devider my-6 transparent"></div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="category-img">
                    {% if category.image %}
                      <img src="{{ category.image.url }}" alt="" class="w-100 rounded shadow category-image">
                    {% else %}
                      <img src="{% static 'images/defaults/category.jpeg' %}" alt="" class="w-100 rounded shadow category-image">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="caption">
                    <h6 class="section-subtitle">Category</h6>
                    <h3 class="section-title"><a href="{% url 'foods:category_details' category.id %}">{{category.title}}</a></h3>
                    <p>{{ category.description|truncatewords:40 }}</p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            {% for food in category.food_set.all %}
            <div class="col-md-12 mb-4">
                <a href="{% url 'foods:food_details' food.id %}" class="custom-list">
                    <div class="img-holder" style="margin-right: 35px; width: 20%;">
                        {% if food.image %}
                          <img src="{{ food.image.url }}" alt="" class="w-100 rounded shadow food-image">
                        {% else %}
                          <img src="{% static 'images/defaults/category.jpeg' %}" alt="" class="w-100 rounded shadow food-image">
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title">{{ food.title }}</h5>
                            <p class="float-right text-primary">${{ food.price }}</p>
                        </div>
                        <div class="body">
                            <p>{{ food.description|truncatechars:45 }}</p>
                        </div>
                    </div>
                </a>
                {% if food.is_active %}
                <form action="{% url 'orders:cart_add' %}" method="POST" class="mt-3" style="display: flex;">
                    {% csrf_token %}
                    <button type="submit" name="food" value="{{ food.id }}" class="btn btn-primary btn-block" style="align-items: center;margin-right: 1rem;display: grid;">Add to Cart</button>
                    <input type="number" name="quantity" id="" class="form-control" value="1" min="1" max="50" style="width: 20%;">
                </form>
                {% else %}
                <div class="mt-3 text-secondary"><i>Unfortunately this food is not available for now</i></div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}
