{% extends 'base.html' %}
{% load static %}
{% block title %} Search {% endblock %}



{% block content %}
<section id="service" class="pattern-style-4 has-overlay" style="background-image: url({% static 'images/style-4.png' %});">
    <div class="container">
        <h6 class="text-center">Foods containing:</h6>
        <h3 class="section-title mb-6 pb-3 text-center">{{ searched }}</h3>
        <div class="row">
        {% for food in foods %}
            <div class="col-md-6 mb-4 px-5">
                <a href="{% url 'foods:food_details' food.id %}" class="custom-list">
                    <div class="img-holder">
                        {% if food.image %}
                          <img src="{{ food.image.url }}" alt="">
                        {% else %}
                          <img src="{% static 'images/defaults/food.jpeg' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="head clearfix">
                            <h5 class="title float-left">{{ food.title }}</h5>
                            <p class="float-right text-primary">{{ food.price }}</p>
                        </div>
                        <div class="body">
                            <p>{{ food.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}