{% extends 'base.html' %}


{% block content %}


<div class="container">
<div class="row">
    <!-- <div class="col-2"></div> -->
    <div class="col-12">
        <h1>About CafeAmoo</h1>
        <div class="card px-5 py-5 my-5">
            <div class="section-title h4">
                Cafe Amoo is originally founded on 1985 in Iran.
                <br>
                <br>
                As of now so many families and friends hang out here in their daily routines just because how quite and peacefull it is.
                <br>
                <br>
                Cafe Amoo has been known for it's delicious Coffees that are imported to Iran only for this Shop.
                <br>
                <br>
                Yearly, thousands of people from different parts of the country come to Tehran only to spend few hours here and have a fun time

            </div>
        </div>
    </div>

</div>
</div>


{% endblock content %}
