
{% extends 'panel/dashboard_base.html' %}
{% load static %}


{% block extra_style %}
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% endblock extra_style %}




{% block dashboard_content %}


<div class="col-md-9 mt-4">
    <div class="text-center mb-3">
        <button id="allOrdersBtn" class="btn btn-primary mx-1">All Orders</button>
        <button id="pendingOrdersBtn" class="btn btn-primary mx-1">By Table</button>
        <button id="byDateBtn" class="btn btn-primary mx-1">By Date</button>
        <button id="currentUserOrdersBtn" class="btn btn-primary mx-1">User's</button>
    </div>

    <div id="allOrders" class="order-section">
        {% for order in orders %}
        <div class="col-md-12">
            <div class="order-dsh rounded mx-lg-5 px-lg-3">
                {% if order.table %} {{order.table.name}}<br> {% endif %}
                Phone: {{order.customer}}
                <br>
                Total Price {{order.final_price}}
                <div class="col">
                    <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                    {% if order.status == 'Pending' %}
                        <a href="{% url 'panel:approve_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success"  name="{{ order.id }}">Approve</button></a>
                        <a href="{% url 'panel:reject_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-danger" name="{{ order.id }}">Reject</button></a>
                    {% endif %}
                    {% comment %}{ if order.status == 'Pending' or order.status == 'Approved' %}
                        <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                    {% endif %}{% endcomment %}
                    {% if order.status == 'Approved' %}
                        <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                    {% elif order.status == 'Delivered' %}
                        <a href="{% url 'panel:pay_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Pay</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="pendingOrders" class="order-section" style="display: none;">
        {% for table in tables %}
        <h3 class="mb-3 mt-5 mx-lg-3 px-lg-3">{{table.name}}</h3>
        <div class="row mt-3">
            {% for order in table.order_set.all %}
            {% if order.status != "Paid" %}
            <div class="col-md-12">
                <div class="order-dsh rounded mx-lg-5 px-lg-3">
                    Phone: {{order.customer}}
                    <br>
                    Total Price {{order.final_price}}
                    <div class="col">
                        {% if order.status == 'Pending' %}
                            <a href="{% url 'panel:approve_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success"  name="{{ order.id }}">Approve</button></a>
                            <a href="{% url 'panel:reject_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-danger" name="{{ order.id }}">Reject</button></a>
                        {% endif %}
                        {% if order.status == 'Pending' or order.status == 'Approved' %}
                            <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                        {% endif %}
                        {% if order.status == 'Approved' %}
                            <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                        {% elif order.status == 'Rejected' %}
                            <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                        {% elif order.status == 'Delivered' %}
                            <a href="{% url 'panel:pay_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Pay</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="col-md-8 mx-lg-5">
                Table is empty
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div id="byDateOrders" class="order-section" style="display: none;">
        {% for order in orders_by_date %}
        <div class="col-md-12">
            <div class="order-dsh rounded mx-lg-5 px-lg-3">
                {% if order.table %} {{order.table.name}}<br> {% endif %}
                Phone: {{order.customer}}
                <br>
                Total Price {{order.final_price}}
                <div class="col">
                    <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                    {% if order.status == 'Pending' %}
                        <a href="{% url 'panel:approve_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success"  name="{{ order.id }}">Approve</button></a>
                        <a href="{% url 'panel:reject_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-danger" name="{{ order.id }}">Reject</button></a>
                    {% endif %}
                    {% comment %}{ if order.status == 'Pending' or order.status == 'Approved' %}
                        <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                    {% endif %}{% endcomment %}
                    {% if order.status == 'Approved' %}
                        <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                    {% elif order.status == 'Delivered' %}
                        <a href="{% url 'panel:pay_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Pay</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="currentUserOrders" class="order-section" style="display: none;">
        {% for order in orders_user %}
        <div class="col-md-12">
            <div class="order-dsh rounded mx-lg-5 px-lg-3">
                {% if order.table %} {{order.table.name}}<br> {% endif %}
                Phone: {{order.customer}}
                <br>
                Total Price {{order.final_price}}
                <div class="col">
                    <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                    {% if order.status == 'Pending' %}
                        <a href="{% url 'panel:approve_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success"  name="{{ order.id }}">Approve</button></a>
                        <a href="{% url 'panel:reject_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-danger" name="{{ order.id }}">Reject</button></a>
                    {% endif %}
                    {% comment %}{ if order.status == 'Pending' or order.status == 'Approved' %}
                        <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                    {% endif %}{% endcomment %}
                    {% if order.status == 'Approved' %}
                        <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                    {% elif order.status == 'Delivered' %}
                        <a href="{% url 'panel:pay_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Pay</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function() {
        $("#allOrdersBtn").click(function() {
            $(".order-section").hide();
            $("#allOrders").show();
        });

        $("#pendingOrdersBtn").click(function() {
            $(".order-section").hide();
            $("#pendingOrders").show();
        });

        $("#byDateBtn").click(function() {
            $(".order-section").hide();
            $("#byDateOrders").show();
        });

        $("#currentUserOrdersBtn").click(function() {
            $(".order-section").hide();
            $("#currentUserOrders").show();
        });
    });
</script>

{% endblock dashboard_content %}
