
{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded shadow py-2">
    <div class="container">
       <a class="navbar-brand" href="/">
          <img src="{{ maininfo.icon.url }}" alt="" class="navbar-brand" width="50px">
       </a>
       <a class="navbar-brand" href="/">{{ maininfo.title }}</a>
       <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2 mt-2">
                <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
            </li>
            <li class="nav-item mx-2 mt-2">
               <a class="nav-link" href="{% url 'foods:category_list' %}">Categories</a>
            </li>
            <li class="nav-item mx-2 mt-2">
               <a class="nav-link" href="{% url 'foods:menu' %}">Menu</a>
            </li>
            <li class="nav-item mx-2 mt-2">
                <a href="{% url 'panel:logout' %}" class="ml-4 mt-1 btn btn-primary btn-sm w-100">Logout</a>
            </li>
            <li class="nav-item mx-2">
              <form action="{% url 'foods:search' %}" method="get" class="ml-5">
                  <input type="search" name="searched" placeholder="search in foods..." class="form-control me-2">
              </form>
            </li>
          </ul>
       </div>
    </div>
</nav>

{% endblock navbar %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <button type="button" id="toggleButton" class="btn btn-outline-primary" onclick="toggleButtonStyle(this)">Filter by table</button>
        </div>
    </div>

    <!-- All Orders -->
    <div id="initialContent">
        <div class="row mt-3">
            {% for order in orders %}
            <div class="col-md-8">
                <div class="order-dsh">
                    {% if order.table %} {{order.table.name}}<br> {% endif %}
                    Phone: {{order.customer}}
                    <br>
                    Total Price {{order.final_price}}
                    <div class="col">
                        <div class="row" >
                            <div class="col">
                                <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                                {% if order.status == 'Pending' %}
                                    <a href="{% url 'panel:approve_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success"  name="{{ order.id }}">Approve</button></a>
                                    <a href="{% url 'panel:reject_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-danger" name="{{ order.id }}">Reject</button></a>
                                {% endif %}
                                {% comment %}{ if order.status == 'Pending' or order.status == 'Approved' %}
                                    <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                                {% endif %}{% endcomment %}
                                {% if order.status == 'Approved' %}
                                    <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                                {% elif order.status == 'Rejected' %}
                                    <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                                {% elif order.status == 'Delivered' %}
                                    <a href="{% url 'panel:pay_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Pay</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- By Table -->
    <div id="newContent" style="display: none;">
        {% for table in tables %}
        <h3 class="mb-3 mt-5">{{table.name}}</h3>
        <div class="row mt-3">
            {% for order in table.order_set.all %}
            {% if order.status != "Paid" %}
            <div class="col-md-8">
                <div class="order-dsh">
                    Phone: {{order.customer}}
                    <br>
                    Total Price {{order.final_price}}
                    <div class="col">
                        <div class="row" >
                            <div class="col">
                                {% if order.status == 'Pending' %}
                                    <a href="{% url 'panel:approve_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success"  name="{{ order.id }}">Approve</button></a>
                                    <a href="{% url 'panel:reject_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-danger" name="{{ order.id }}">Reject</button></a>
                                {% endif %}
                                {% if order.status == 'Pending' or order.status == 'Approved' %}
                                    <a href="{% url 'panel:edit_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-warning" name="{{ order.id }}" >Show/Edit</button></a>
                                {% endif %}
                                {% if order.status == 'Approved' %}
                                    <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                                {% elif order.status == 'Rejected' %}
                                    <a href="{% url 'panel:deliver_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Deliver</button></a>
                                {% elif order.status == 'Delivered' %}
                                    <a href="{% url 'panel:pay_order' order_id=order.id %}"><button style="float:right" type="button" class="mx-1 btn btn-success" name="{{ order.id }}">Pay</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="col-md-8">
                Table is empty
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>



<!-- Add Bootstrap JS and jQuery scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // Function to toggle content on button click
    $(document).ready(function() {
        $("#toggleButton").click(function() {
            $("#initialContent").toggle();
            $("#newContent").toggle();
        });
    });
    function toggleButtonStyle(button) {
      if (button.classList.contains("btn-outline-primary")) {
        button.classList.remove("btn-outline-primary");
        button.classList.add("btn-primary");
      } else {
        button.classList.remove("btn-primary");
        button.classList.add("btn-outline-primary");
      }
    }
</script>



{% endblock %}
