
{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <!-- Button to toggle content -->
            <button type="button" class="btn btn-primary" id="toggleButton">Filter by table</button>
        </div>
    </div>

    {% for order in orders %}
    
    <div class="row mt-3">
        <div class="col-md-7 mx-auto" id="contentSection">
            <!-- All Orders -->
                <div id="initialContent">
                    <div class="order-dsh">
                        Order ID: 001 Table: 1
                        {% comment %}  {% endcomment %}
                        <div class="col">
                        {% comment %} <button class="button approve">Approve</button> {% endcomment %}
                        {% comment %} <button class="button edit-dsh">Edit</button> {% endcomment %}
                        <div class="row" >
                            <div class="col">
                                
                                {% if order.status == 'Pending' or order.status == 'Approved' %}
                                    <button style="float:right" type="button" class="btn btn-warning" href="{% url 'edit_order' order_id=order.id %}" name="{{ order.id }}" >Show/Edit</button>
                                {% elif order.status == 'Delivered' %}
                                    <button style="float:right" type="button" class="btn btn-success" href="{% url 'pay_order' order_id=order.id %}" name="{{ order.id }}">Pay</button>
                                {% endif %}
                                {% if order.status == 'Pending' %}
                                    <button style="float:right" type="button" class="btn btn-light" href="{% url 'approve_order' order_id=order.id %}" name="{{ order.id }}">Approve</button>
                                    <button style="float:right" type="button" class="btn btn-danger" href="#" name="{{ order.id }}">Reject</button>
                                {% elif order.status == 'Approved' %}
                                    <button type="button" class="btn btn-success" href="#" name="{{ order.id }}">Deliver</button>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>            
                
            <!-- By Table -->
            <div id="newContent" style="display: none;">
                Filter by table
                <div class="order-dsh pending">
                    <div class="row" >
                        <div class="col">
                            Order ID: 001 Table: 1
                        </div>
                    </div>
                    <div class="col">
                        <button class="button edit-dsh">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Add Bootstrap JS and jQuery scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // Function to toggle content on button click
    $(document).ready(function() {
        $("#toggleButton").click(function() {
            $("#initialContent").toggle();
            $("#newContent").toggle();
        });
    });
</script>



{% endblock %}
