{% extends 'base.html' %}
{% block content %}


<section id="book-table" class="bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <form action="{% url 'panel:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.as_p}}
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary btn-block">Verify</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}